*::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 20px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E2E1DE;
}

.back-ground {
  background-color: #00A884;
  height: 20%;
  width: 100%;
  position: absolute;
  top: 0;
}

.chat-container {
  width: 95%;
  max-width: 1800px;
  height: 95%;
  background-color: #fff;
  position: absolute;
  display: flex;
}

.chat-contacts {
  width: 30%;
  height: 100%;
  border-right: 1px solid #e6e6e6;
}

.chat-item {
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid #F0F2F5;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title-chat-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.image-profile {
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
}

.title-message {
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.last-message {
  color: #808080;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-options {
  width: 100%;
  height: 80px;
  background-color: #F0F2F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
}

.chat-messages {
  flex: 1;
  background-image: url('./assets/zap.png');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-messages-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px 0;
  max-height: 100%;
  overflow-y: auto;
}

.chat-input-area {
  width: 100%;
  height: 70px;
  background-color: #F0F2F5;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chat-input {
  width: 90%;
  background-color: #fff;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 4px 10px;
  font-size: 16px;
}

.send-message-icon {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.user-container-message {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 2px 0;
}

.right {
  justify-content: flex-end;
}

.right::after {
  content: "";
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid #D9FDD3;
}

.left {
  justify-content: flex-start;
}

.left::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid #FFF;
}

.center {
  justify-content: center;
}

.user-my-message {
  background-color: #D9FDD3;
  padding: 10px;
  border-radius: 8px;
  border-top-right-radius: 0;
  max-width: 80%;
}

.user-other-message {
  background-color: #FFF;
  padding: 10px;
  border-radius: 8px;
  border-top-left-radius: 0;
  max-width: 80%;
}

.system-message {
  background-color: #DFDFDF;
  padding: 5px 10px;
  border-radius: 5px;
}

.message-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 20px;
}

.message-name {
  font-size: 14px;
  font-weight: bold;
  grid-area: 1 / 1 / 2 / 3;
}

.message-message {
  font-size: 16px;
  grid-area: 2 / 1 / 3 / 2;
  overflow: hidden;
}

.message-hour {
  font-size: 11px;
  color: #808080;
  grid-area: 2 / 2 / 3 / 3;
  align-self: flex-end;
  justify-self: flex-end;
}